# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage
os: osx
osx_image: xcode8.3
language: objective-c
# cache: cocoapods
podfile: Example/Podfile
before_install:
# - brew update
# - brew outdated xctool || brew upgrade xctool
- gem install xcpretty
- gem install cocoapods # Since Travis is not always on latest version
# - pod repo remove master
# - pod setup
- travis_wait pod install --project-directory=Example --verbose --repo-update
script:
- set -o pipefail
- xcodebuild -workspace Example/ARNetwork.xcworkspace -scheme ARNetwork-Example -sdk iphonesimulator10.3 ONLY_ACTIVE_ARCH=NO | xcpretty
- travis_wait pod lib lint --allow-warnings --use-libraries
